<html>
    <head>
        <style>
            .footer {
				position: fixed;
				left: 0;
				bottom:0;
				width: 100%;
				padding: 10px 0;
				background-color: rgb(218, 246, 252);
				color: white;
			}
        </style>
    </head>
    <footer class="footer text-dark py-1">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3>Quote of the Day</h3>
					<p>Don't Worry Be Happy</p>
				</div>
				<div class="col">
					<h3>About Us</h3>
					<p>Our tech company is driven by the happiness of our clients, our client's satisfaction is our top priority</p>
				</div>
				<div class="col">
					<h3>Contact Us</h3>
					<p>Email Address: email&#64;gmail.com<br>Phone: 0412345678<br>Address: 21 Ancora Imparo, Clayton, VIC 3168</p>
				</div>
				<p>© 2024 Your Website. All rights reserved.</p>
			</div>
		</div>
	</footer>
</html>
