<html>
    <head>
        <style>
            #content {
                padding-bottom: 150px;
            }
        </style>
    </head>
    <body id = "content">
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 g-3 justify-content-center">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class = "mb-3">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Enter username (minimum 6 characters)" [(ngModel)]="username" required/>
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Enter password (5-10 characters)" [(ngModel)]="password" required/>
                                    <label>Confirm Password</label>
                                    <input type="password" name="confirmPassword" class="form-control" placeholder="Enter password again" [(ngModel)]="confirmPassword" required/>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary" (click)="signUp()">Sign Up</button>
                                    <button class="btn btn-secondary" (click)="loginPage()">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>